In [20]:
#Import dependencies
import pandas as pd
import gmaps
import requests

#Import API key
from config import g_key

In [21]:
# Store csv created in part one into a dataframe

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shizunai,JP,2020-10-24 15:44:53,42.33,142.37,50.07,75,100,27.51
1,1,Hermanus,ZA,2020-10-24 15:44:53,-34.42,19.23,64.99,84,84,3.00
2,2,Busselton,AU,2020-10-24 15:44:53,-33.65,115.33,61.00,45,63,12.73
3,3,Altay,CN,2020-10-24 15:44:54,47.87,88.12,28.98,85,55,3.56
4,4,Bluff,NZ,2020-10-24 15:44:54,-46.60,168.33,63.00,55,100,15.99

In [22]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [23]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
[max(temp,0) for temp in max_temp]

[50.07,
 64.99,
 61.0,
 28.98,
 63.0,
 78.69,
 55.0,
 43.41,
 76.82,
 82.26,
 73.0,
 42.8,
 44.6,
 33.8,
 51.8,
 48.2,
 21.2,
 55.99,
 63.0,
 46.4,
 87.8,
 69.01,
 73.4,
 63.0,
 77.52,
 90.39,
 99.32,
 74.84,
 83.57,
 62.6,
 44.01,
 78.58,
 53.01,
 16.86,
 33.8,
 73.67,
 87.8,
 50.0,
 75.2,
 24.8,
 64.4,
 55.51,
 28.4,
 33.8,
 66.2,
 12.2,
 42.8,
 49.23,
 56.25,
 48.2,
 72.0,
 31.48,
 44.6,
 51.8,
 62.6,
 72.32,
 81.82,
 51.8,
 28.4,
 87.8,
 78.49,
 52.0,
 36.0,
 73.4,
 50.14,
 16.74,
 69.8,
 12.72,
 73.02,
 46.69,
 59.0,
 8.6,
 75.61,
 71.6,
 39.97,
 79.75,
 26.6,
 81.72,
 70.97,
 61.0,
 44.6,
 72.97,
 67.98,
 13.05,
 73.4,
 69.8,
 21.13,
 94.66,
 48.2,
 79.81,
 59.0,
 55.4,
 82.4,
 75.25,
 55.4,
 74.14,
 55.4,
 78.8,
 22.71,
 53.82,
 75.99,
 73.51,
 73.4,
 58.24,
 68.0,
 88.18,
 69.8,
 36.0,
 77.0,
 63.0,
 85.84,
 64.99,
 32.25,
 48.99,
 68.83,
 61.14,
 62.6,
 64.38,
 53.6,
 87.19,
 82.53,
 93.2,
 71.6,
 17.6,
 64.99,
 45.25,
 79.0,
 81.45,
 72.01,
 72.88,
 41.0,
 79.66,
 36.5,
 32.0,
 70.59,
 79.72,
 77.56,
 96.96,
 70.32,
 53.6,
 53.33,
 75.2,
 75.61,
 52.93,
 30.2,
 72.32,
 77.25,
 75.2,
 46.99,
 49.98,
 54.0,
 71.78,
 72.14,
 50.0,
 73.4,
 48.2,
 68.0,
 55.0,
 80.6,
 86.0,
 35.01,
 26.51,
 89.94,
 66.2,
 51.62,
 75.2,
 73.4,
 83.12,
 50.0,
 79.16,
 24.01,
 60.01,
 82.81,
 9.63,
 33.64,
 37.4,
 75.2,
 36.68,
 63.0,
 11.5,
 47.62,
 99.79,
 84.2,
 27.55,
 81.9,
 75.2,
 86.0,
 81.03,
 82.4,
 50.0,
 87.8,
 32.83,
 64.99,
 75.2,
 78.24,
 32.41,
 17.44,
 81.0,
 87.8,
 61.0,
 19.33,
 24.8,
 69.8,
 12.2,
 72.0,
 99.52,
 54.0,
 89.65,
 24.8,
 74.23,
 75.99,
 34.93,
 37.4,
 38.68,
 64.99,
 82.4,
 46.4,
 50.0,
 25.29,
 59.0,
 62.6,
 34.32,
 39.2,
 54.0,
 82.4,
 59.0,
 77.0,
 61.0,
 89.6,
 71.6,
 37.13,
 26.92,
 86.0,
 91.4,
 44.6,
 81.12,
 78.87,
 51.15,
 17.6,
 81.18,
 88.65,
 88.07,
 69.01,
 37.96,
 60.8,
 74.5,
 54.0,
 48.99,
 42.96,
 77.0,
 86.0,
 62.76,
 91.4,
 73.92,
 10.4,
 82.4,
 73.99,
 33.01,
 32.0,
 84.0,
 69.01,
 78.53,
 88.54,
 73.99,
 76.08,
 68.0,
 25.02,
 78.8,
 75.2,
 76.23,
 14.0,
 55.4,
 9.68,
 70.79,
 77.67,
 78.57,
 79.0,
 64.4,
 86.0,
 63.0,
 80.83,
 77.99,
 43.0,
 71.01,
 87.8,
 25.34,
 68.0,
 86.76,
 71.4,
 38.1,
 57.99,
 57.99,
 73.4,
 18.77,
 15.67,
 73.9,
 39.56,
 18.28,
 80.74,
 66.9,
 64.99,
 89.6,
 78.01,
 33.96,
 32.38,
 81.61,
 62.04,
 52.0,
 75.2,
 26.91,
 80.02,
 36.52,
 37.13,
 24.01,
 59.16,
 10.81,
 89.85,
 42.8,
 66.2,
 50.0,
 75.2,
 48.99,
 50.0,
 73.76,
 31.71,
 71.01,
 86.0,
 53.6,
 89.94,
 57.99,
 96.3,
 76.64,
 65.1,
 84.58,
 39.79,
 87.01,
 68.0,
 66.2,
 62.67,
 65.39,
 44.6,
 46.99,
 79.12,
 27.66,
 51.01,
 76.51,
 67.05,
 71.6,
 57.99,
 22.73,
 86.0,
 59.0,
 98.17,
 30.2,
 91.94,
 46.0,
 18.64,
 40.05,
 16.59,
 71.6,
 30.69,
 84.2,
 87.15,
 89.19,
 80.17,
 80.87,
 53.6,
 97.39,
 78.8,
 49.48,
 43.0,
 82.45,
 50.0,
 29.88,
 85.28,
 77.59,
 99.19,
 87.8,
 99.7,
 68.13,
 60.85,
 82.69,
 39.2,
 37.4,
 83.48,
 21.27,
 22.64,
 59.0,
 34.11,
 27.37,
 99.48,
 84.2,
 57.33,
 28.4,
 65.93,
 48.99,
 82.96,
 82.4,
 87.8,
 37.4,
 68.9,
 79.65,
 14.74,
 64.0,
 69.8,
 49.44,
 84.99,
 94.1,
 27.63,
 57.2,
 63.0,
 87.3,
 24.17,
 91.85,
 37.99,
 82.08,
 75.2,
 78.01,
 48.2,
 78.42,
 84.2,
 64.0,
 68.0,
 41.0,
 30.2,
 47.84,
 86.0,
 80.56,
 51.01,
 75.2,
 78.49,
 86.0,
 17.2,
 82.4,
 77.0,
 72.91,
 73.4,
 46.63,
 53.6,
 84.2,
 79.09,
 51.8,
 77.52,
 64.4,
 71.6,
 92.28,
 71.6,
 48.0,
 44.6,
 82.63,
 35.31,
 63.0,
 86.0,
 27.75,
 32.77,
 73.4,
 77.0,
 55.4,
 79.0,
 64.0,
 64.0,
 55.0,
 34.93,
 76.44,
 77.0,
 33.49,
 78.21,
 57.0,
 71.01,
 93.2,
 86.94,
 78.01,
 78.8,
 78.22,
 82.99,
 77.59,
 82.0,
 53.4,
 10.44,
 48.2,
 58.66,
 71.01,
 32.65,
 39.2,
 37.4,
 87.53,
 75.65,
 78.48,
 57.0,
 73.4,
 81.0,
 57.99,
 31.05,
 75.0,
 37.4,
 61.0,
 80.6,
 98.46,
 75.27,
 17.6,
 74.34,
 77.0,
 71.6,
 80.67,
 87.8,
 73.99,
 86.0,
 78.8,
 33.66,
 80.6,
 86.0,
 92.23,
 24.8,
 32.0,
 66.2,
 30.02,
 27.27,
 81.07,
 67.26,
 80.87,
 83.16,
 26.83,
 37.72,
 77.0,
 90.54,
 77.59,
 62.78,
 77.76,
 71.6,
 45.46,
 34.03,
 59.85,
 12.81,
 84.76,
 80.6,
 55.4,
 77.0,
 81.07,
 82.4,
 66.2,
 49.86,
 78.28,
 91.67,
 65.46,
 84.2,
 46.4,
 94.87,
 71.6,
 55.4,
 80.67,
 81.19,
 51.01,
 28.24,
 66.2,
 54.0,
 34.54,
 34.63,
 77.92,
 71.6,
 66.2,
 42.76,
 78.8]

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
#Ask the customer to add a minimum and maxium temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [30]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Atuona,PF,2020-10-24 15:44:54,-9.80,-139.03,78.69,76,3,20.36
8,8,Bengkulu,ID,2020-10-24 15:44:54,-3.80,102.27,76.82,86,100,3.96
10,10,Hilo,US,2020-10-24 15:44:54,19.73,-155.09,73.00,68,75,5.82
22,22,Saint-Philippe,RE,2020-10-24 15:44:55,-21.36,55.77,73.40,64,0,17.22
24,24,Kapaa,US,2020-10-24 15:44:55,22.08,-159.32,77.52,76,2,7.47
27,27,Rikitea,PF,2020-10-24 15:44:55,-23.12,-134.97,74.84,81,92,19.35
31,31,Kieta,PG,2020-10-24 15:44:55,-6.22,155.63,78.58,76,40,3.40
35,35,Samaniego,CO,2020-10-24 15:44:56,1.34,-77.60,73.67,62,87,6.22
38,38,Puerto Ayora,EC,2020-10-24 15:42:37,-0.74,-90.35,75.20,78,75,18.34
50,50,Cape Town,ZA,2020-10-24 15:44:57,-33.93,18.42,72.00,64,0,9.17

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [32]:
preferred_cities_df.notnull().sum()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [33]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [34]:
#create dataframe hotel_df to store hotel names with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
5           Atuona      PF     78.69  -9.80 -139.03
8         Bengkulu      ID     76.82  -3.80  102.27
10            Hilo      US     73.00  19.73 -155.09
22  Saint-Philippe      RE     73.40 -21.36   55.77
24           Kapaa      US     77.52  22.08 -159.32
27         Rikitea      PF     74.84 -23.12 -134.97
31           Kieta      PG     78.58  -6.22  155.63
35       Samaniego      CO     73.67   1.34  -77.60
38    Puerto Ayora      EC     75.20  -0.74  -90.35
50       Cape Town      ZA     72.00 -33.93   18.42

In [35]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [36]:
#Iterate through the Dataframe.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat=row["Lat"]
    lng=row["Lng"]
    
    #add the latitude and longitude key for the params dictionary
    params["location"]=f"{lat}, {lng}"
    
    #use the search term: "lodging" and out latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make request and get the JSON data from search
    hotels=requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store and name
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
    
hotel_df

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

               City Country  Max Temp    Lat     Lng Hotel Name
5            Atuona      PF     78.69  -9.80 -139.03
8          Bengkulu      ID     76.82  -3.80  102.27
10             Hilo      US     73.00  19.73 -155.09
22   Saint-Philippe      RE     73.40 -21.36   55.77
24            Kapaa      US     77.52  22.08 -159.32
..              ...     ...       ...    ...     ...        ...
541   San Policarpo      PH     78.28  12.18  125.51
547         Ramgarh      IN     71.60  23.63   85.52
557       Ratnagiri      IN     77.92  16.98   73.30
558         Camacha      PT     71.60  33.08  -16.33
561        Acajutla      SV     78.80  13.59  -89.83

[134 rows x 6 columns]

In [ ]:
hotel_df.head()

In [ ]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</add>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
#store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]