## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butembo,CD,0.15,29.28,57.79,100,100,2.73,light rain
1,1,Mataura,NZ,-46.19,168.86,57.99,62,76,5.99,broken clouds
2,2,Bathsheba,BB,13.22,-59.52,77.00,88,75,19.46,light rain
3,3,Bairiki,KI,1.33,172.98,87.80,62,40,5.82,scattered clouds
4,4,Vila Franca Do Campo,PT,37.72,-25.43,68.00,88,75,16.11,broken clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bathsheba,BB,13.22,-59.52,77.00,88,75,19.46,light rain
3,3,Bairiki,KI,1.33,172.98,87.80,62,40,5.82,scattered clouds
5,5,Arraial Do Cabo,BR,-22.97,-42.03,72.07,88,3,11.25,clear sky
6,6,Vaini,TO,-21.20,-175.20,77.00,83,75,10.29,broken clouds
9,9,Kapaa,US,22.08,-159.32,71.60,88,90,11.41,thunderstorm
...,...,...,...,...,...,...,...,...,...,...
550,550,Kapit,MY,2.02,112.93,78.26,84,100,2.64,light rain
551,551,Praia,CV,14.92,-23.51,78.80,78,40,12.75,scattered clouds
556,556,Inongo,CD,-1.95,18.27,70.99,96,95,1.52,overcast clouds
562,562,Pangoa,PE,-12.12,-73.00,70.36,95,83,3.00,moderate rain
564,564,Phibun Mangsahan,TH,15.24,105.23,78.01,94,75,3.36,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_data_df = preferred_cities_df.dropna()
preferred_cities_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bathsheba,BB,13.22,-59.52,77.00,88,75,19.46,light rain
3,3,Bairiki,KI,1.33,172.98,87.80,62,40,5.82,scattered clouds
5,5,Arraial Do Cabo,BR,-22.97,-42.03,72.07,88,3,11.25,clear sky
6,6,Vaini,TO,-21.20,-175.20,77.00,83,75,10.29,broken clouds
9,9,Kapaa,US,22.08,-159.32,71.60,88,90,11.41,thunderstorm
...,...,...,...,...,...,...,...,...,...,...
550,550,Kapit,MY,2.02,112.93,78.26,84,100,2.64,light rain
551,551,Praia,CV,14.92,-23.51,78.80,78,40,12.75,scattered clouds
556,556,Inongo,CD,-1.95,18.27,70.99,96,95,1.52,overcast clouds
562,562,Pangoa,PE,-12.12,-73.00,70.36,95,83,3.00,moderate rain
564,564,Phibun Mangsahan,TH,15.24,105.23,78.01,94,75,3.36,broken clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bathsheba,BB,77.00,light rain,13.22,-59.52,
3,Bairiki,KI,87.80,scattered clouds,1.33,172.98,
5,Arraial Do Cabo,BR,72.07,clear sky,-22.97,-42.03,
6,Vaini,TO,77.00,broken clouds,-21.20,-175.20,
9,Kapaa,US,71.60,thunderstorm,22.08,-159.32,
10,Busselton,AU,70.00,broken clouds,-33.65,115.33,
12,Salalah,OM,75.20,clear sky,17.02,54.09,
13,Lazaro Cardenas,MX,81.18,light rain,17.96,-102.20,
18,Kavaratti,IN,81.91,few clouds,10.57,72.64,
19,Rikitea,PF,75.38,light rain,-23.12,-134.97,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat}, {lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
    
hotel_df

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bathsheba,BB,77.00,light rain,13.22,-59.52,Atlantis Hotel
3,Bairiki,KI,87.80,scattered clouds,1.33,172.98,Tarawa Boutique Hotel
5,Arraial Do Cabo,BR,72.07,clear sky,-22.97,-42.03,Pousada Porto Praia
6,Vaini,TO,77.00,broken clouds,-21.20,-175.20,Keleti Beach Resort
9,Kapaa,US,71.60,thunderstorm,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
550,Kapit,MY,78.26,light rain,2.02,112.93,Hotel Meligai Kapit
551,Praia,CV,78.80,scattered clouds,14.92,-23.51,LT Aparthotel
556,Inongo,CD,70.99,overcast clouds,-1.95,18.27,Hotel Du Lac
562,Pangoa,PE,70.36,moderate rain,-12.12,-73.00,
564,Phibun Mangsahan,TH,78.01,broken clouds,15.24,105.23,ซันนี่ รีสอร์ท

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bathsheba,BB,77.00,light rain,13.22,-59.52,Atlantis Hotel
3,Bairiki,KI,87.80,scattered clouds,1.33,172.98,Tarawa Boutique Hotel
5,Arraial Do Cabo,BR,72.07,clear sky,-22.97,-42.03,Pousada Porto Praia
6,Vaini,TO,77.00,broken clouds,-21.20,-175.20,Keleti Beach Resort
9,Kapaa,US,71.60,thunderstorm,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
550,Kapit,MY,78.26,light rain,2.02,112.93,Hotel Meligai Kapit
551,Praia,CV,78.80,scattered clouds,14.92,-23.51,LT Aparthotel
556,Inongo,CD,70.99,overcast clouds,-1.95,18.27,Hotel Du Lac
562,Pangoa,PE,70.36,moderate rain,-12.12,-73.00,
564,Phibun Mangsahan,TH,78.01,broken clouds,15.24,105.23,ซันนี่ รีสอร์ท

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</add>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))